:local(.Info) {
    font-family: 'Lato', sans-serif;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

:local(.CheckPlaying) {
    position: absolute;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 1.5rem 2.5rem;
    border: 1px solid #9b9b9e;
    position: relative;
    top: 1rem;
    color: #9b9b9e;
}

:local(.CheckPlayingActive) {
    position: absolute;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 1.5rem 2.5rem;
    border: 1px solid #252525;
    position: relative;
    top: 1rem;
    color: #252525;
}

:local(.Playing) {
    font-size: 1.2rem;
    position: relative;
    top: 5rem;
}

:local(.Artist) {
    display: block;
}

:local(.Image) {
    width: 300px;
    position: relative;
    top: 6rem;
}